.box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px #883eff5b;
}

.github:hover{
    text-shadow: 0 0 15px #873EFF;
}

.community:hover{
    background-color: #873EFF;
    color: #0E091B;
}

.github:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #873EFF;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .github:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

