@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'DM Sans', sans-serif;
}

button{
    background: none;
    border: none;
    color: white;
    font-variant: small-caps;
    font-size: 1rem;
    cursor: pointer;
}

body{
    background-color: #0e091b;
    color: white;
}

.title {
    font-family: 'IBM Plex Mono', monospace;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem 10rem;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 2rem;
}

ul{
    display: flex;
    align-items: center;
}

li{
    margin: 0 2rem;
}

.nav-btn{
    font-size: 1.2rem;
}

.community{
    border: solid 1px #873EFF;
    text-align: center;
    padding: 10px 18px;
    border-radius: 5px;
    font-weight: 600;
    transition: all .3s;
}

.github{
    font-weight: 600;
    transition: all .3s;
}

header{
    margin-top: 80px;
}

.header-comp{
    width: 85%
}

#header-title{
    letter-spacing: 2px;
    color: #04D361;
    font-size: 24px;
    text-transform: uppercase;
}

#header-subtitle{
    font-size: 4rem;
    margin-top: 5px;
}

#header-description{
    font-size: 20px;
    margin-top: 20px;
}

main{
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.box{
    background-color: #171228;

    width: 420px;
    margin: 10px;
    padding: 20px;
    border: solid 1px #873EFF;
    border-radius: 5px;
    cursor: pointer;
    transition: all .4s;
    display: flex;

    align-items: center;
    flex-wrap: wrap;
}

.img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-default{
    width: 50%;
    background-color: #0e091b;
    padding: 0 25%;
    border-radius: 10px;
}

.title-main{
    margin-top: 25px;
    font-size: 24px;
}

.description{
    margin-top: 25px;
}

.buttons{
    margin-top: 25px;
    font-size: 15px
}

.btn{
    font-variant: none;
    text-transform: uppercase;
    margin-right: 20px;
    text-align: center;
    border-radius: 5px;
    padding: 10px 3.2rem;
    font-weight: 600;
}

.btn1{
    background: #04D361;
    color: #0E091B;
}

.btn2{
    border: 1px solid #04D361;
}

footer{
    margin-top: 80px;
    width: 100%;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.autoral{
    display: flex;
    color: #AEAEAE;
    font-size: 18px;
}

.logo{
    color: #873EFF;
    letter-spacing: 15px;
    font-size: 2rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.copy{
    margin-left: 25px
}

.codelandia{
    margin-left: 35px
}


